.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 0.25rem;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #4591fb 51%, #4935ff 100%);
  -webkit-animation: AnimateBG 5s ease infinite;
          animation: AnimateBG 5s ease infinite;
}

@media only screen and (max-width: 600px) {
  .App {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.skill {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem; 
  margin-right: 0.5rem; 
  margin-bottom: 0.5rem; 
  background-color: white; 
  font-size: 1.125rem;
  line-height: 1.75rem; 
  flex-shrink: 0; 
  border-radius: 100px; 
  border-width: 4px; 
  color: black;
  border-color: #374151; 
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.05);
}

.skills-section {
  width: 100%;
  padding-top: 6rem; 
  color: #ffffff;
}

.skill-div {
  margin-bottom: 2rem; 
  color: #ffffff;
  text-align: left;
}

.skills-label {
  margin-bottom: 1rem; 
  font-size: 2.25rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  color: #ffffff;
  text-align: left;
}

.skills-list {
  list-style: none;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  align-items: center; 
  margin: 0px 0px;
  padding: 0px 0px;
}

.skills-section {
  margin-bottom: 0.5rem; 
  color: #374151; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
}

.experience-label {
  margin-bottom: 1.5rem; 
  font-size: 2.25rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  color:#ffffff;
  text-align: left;
}

.root-div {
  display: flow-root;
}

.resume-list {
  list-style: none;
  margin-bottom: -2rem; 
  margin-left: 0px;
  padding: 0px;
}

.experience {
  position: relative; 
  padding-bottom: 2rem; 
}

.line {
  position: absolute; 
  top: 1.5rem; 
  left: 1.5rem; 
  margin-left: -1px; 
  background-color: #ffffff; 
  width: 0.25rem; 
  height: 100%;
}

.job-card {
  display: flex; 
  position: relative;
  align-items: flex-start; 
}

.job-styling {
  position: relative; 
}

.job-image {
  display: flex; 
  background-color: #F3F4F6; 
  justify-content: center; 
  align-items: center; 
  width: 3rem; 
  height: 3rem; 
  border-radius: 9999px; 
  border-width: 1px; 
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.05);
}

.job-info {
  flex: 1 1 0%; 
  min-width: 0;
  text-align: left;
  margin-left: 0.5rem;
}

.job-title-div {
  font-size: 1.125rem;
  line-height: 1.75rem; 
}

.job-title {
  color: #ffffff;
  font-weight: 700; 
  margin-left: 0px 0px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.company-name {
  color: #ffffff;
  font-weight: 500;
  margin: 0px 0px;
}

.job-dates {
  margin-top: 0.125rem; 
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0px 0px;
  font-weight: 500;
}

.job-description {
  margin-top: 0.5rem; 
  color: #ffffff; 
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0px 0px;
  font-weight: 500;
}

.project-div {
  position: relative; 
  padding-bottom: 6rem; 
}

.styling-div {
  position: relative; 
  margin-left: auto;
  margin-right: auto;
}

.left-align-div {
  text-align: left;
}

.projects-label {
  color: #ffffff; 
  font-size: 2.25rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  letter-spacing: -0.025em; 
  line-height: 2.25rem; 
  margin-bottom: 1.5rem; 
  margin-top: 0px;
}

@keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}

.grid-div {
  display: grid; 
  margin-left: auto;
  margin-right: auto; 
  margin-top: 3rem; 
  gap: 1.25rem; 
  grid-template-columns: auto;
}

.project-card {
  display: flex; 
  flex-direction: column;
  border-radius: 2rem;
  border-color: #E5E7EB; 
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
  color: white;
  text-decoration: none;
}

.project-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 25px, rgba(0, 0, 0, 0.12) 0px 8px 16px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px 3px 5px;
}

.project-card-img {
  flex-shrink: 0; 
}

.project-img {
  object-fit: cover; 
  width: 100%; 
  height: 12rem;
  /* border-radius: 15px 15px 0 0; */
}

.project-info {
  display: flex; 
  padding: 1rem 1.5rem; 
  flex-direction: column; 
  flex: 1 1 0%; 
  justify-content: space-between;
  /* border-radius: 0px 0px 15px 15px; */
  /* background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%); */
  background-color: #373562;
  color: white;
}


.project-info-struct {
  flex: 1 1 0%; 
}

.project-link {
  display: block;
  text-decoration: none;
}

.project-title {
  color: #111827; 
  font-size: 1.25rem;
  line-height: 1.75rem; 
  font-weight: 600; 
  line-height: 1.75rem;
  text-decoration: none;
  margin: 10px 0px;
  color: white;
}

.project-description {
  margin-top: 0.5rem; 
  color: #6B7280; 
  font-size: 1rem;
  line-height: 1.5rem; 
  line-height: 1.5rem;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
}

img {
  margin: auto;
  display: block;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 60px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  padding-top: 90px;
  text-align: left;
}

.my-name {
  font-size: 48px;
  margin-bottom: 10px;
}

.about-me {
  font-size: 48px;
  margin: 10px 0px;
}

.my-education {
  font-size: 24px;
  margin: 10px 0px;
}

.my-interests {
  font-size: 18px;
  margin: 10px 0px;
}

.intro-skills {
  font-size: 3rem;
  margin: 5px 5px;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 600px) {
  .intro-skills {
    font-size: 2rem;
  }
}


.name {
  font-size: 96px;
}

.terminal {
  background-color: #1e1e1e;
  margin: 100px 0px;
}